@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: steelblue;
}

.container {
    text-align: center;
}
.container_heading {
    border-bottom: 5px solid slateblue; 
    width: 40%;
    margin: 20px auto;
    border-radius: 5px;
    position: relative;
}

.backToTop {
    text-decoration: none;
    color: steelblue;
}
.toNewPost,
.toPosts {
    font-size: 1.3rem;
    float: right;
    position: absolute;
    right: 0;
    top: 10px;
}